@import url(./_rootVariables.scss);
@import url(../../../node_modules/bootstrap/dist/css/bootstrap.css);
@import url(./_commonCustom.scss);

[data-theme-color="dark"] {
  // default-scss-mode
}

[data-theme-color="light"] {
  --my-color: black;
  --my-color-sc: rgba(255, 255, 255, 0.65) (145, 162, 240);
  --my-color-sc-2: #3b3e40(145, 162, 240);
  --my-color2: #3b3e40;
  --my-bg-color: #fff;
  --my-bg-color-sc: #fff;
  --my-header-bg: #fff;

  --my-header-bg-sc: rgba(65, 68, 70, 0.9);

  --my-brand-transparent-bg: rgba(229, 120, 11, 0.2);

  --hsb-item-bordercolor: rgba(0, 0, 0, 0.3);

  --my-gradiant-highlight: linear-gradient(
    90deg,
    #d95e00 30%,
    #ffa353,
    #d95e00 70%
  );

  --header-height: 70px;
}
