.contact-wrapper {
  padding-top: calc(var(--header-height));
  padding-bottom: calc(var(--header-height) * 2);
  background-color: var(--my-bg-color-sc);

  .address-item-wrapper {
    font-size: 1.4rem;
  }
  .social-icon {
    font-size: 1.6rem;
  }

  input,
  textarea {
    background-color: var(--my-bg-color-sc);
    border: 1px solid var(--card-border-transparent-color);
    color: var(--my-color);
    &:focus {
      color: var(--my-color);
      background-color: var(--my-bg-color);
      border: 1px solid var(--card-border-transparent-color);
      box-shadow: none !important;
    }
  }
}
